body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer {
  margin-top: 60px;
  padding-bottom: 80px;
  width: 100%;
  background-color: #171830;
  color: white;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 90px;
}
.product-details-page {
  height: 100vh;
  overflow-y: hidden;
}
